@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 499px) {
  .small-screen-text {
    display: none;
  }
  .small-screen-numbers {
    display: inline;
  }
}

@media (min-width: 500px) {
  .small-screen-text {
    display: inline;
  }
  .small-screen-numbers {
    display: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
